@page "/users"
@inject IUserService _userService
@inject IJSRuntime _jsRuntime


<_DeleteConfirmation IsProcessing="IsLoading" IsConfirmed="ConfirmDelete"></_DeleteConfirmation>

@if(response.Success == false)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}
else
{
    <div class="row mt-4 mx-4">
        <div class="mx-2">
         <h3>Alle brukere</h3>
            <a href="users/create" class="btn btn-success">
                <span class="oi oi-plus" aria-hidden="true"></span> Ny Bruker
            </a>
        </div>
        <div class="col-12 p-3 table-responsive-sm">
            @if (Users == null)
            {
                if (IsLoading)
                {
                    <div class="spinner"></div>
                }
                else
                {
                    <p>Ingen brukere</p>
                }   
            }
            else
            {
                <table class="table table-bordered table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th>Brukernavn</th>
                            <th>E-post</th>
                            <th>Førstenavn</th>
                            <th>Etternavn</th>
                            <th>Brukerrolle</th>
                            <th>Aktiv</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            @foreach (var userRole in @user.Roles)
                                {
                                    <td>@userRole.Name</td>
                                }
                                <td>
                                    <input type="checkbox" disabled checked="@user.IsActive">
                                </td>
                                <td>
                                    <a href="/users/details/@user.Id" class="btn btn-secondary"><i class="bi bi-eye"></i></a>
                                    <a href="@($"users/edit/{user.Id}")" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick="()=>OpenModal(user.Id)"><i class="bi bi-trash3"></i></button>
                                </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            </div>
        </div>
}

@code {
    private List<UserReadOnlyDto> Users;
    private Response<List<UserReadOnlyDto>> response = new Response<List<UserReadOnlyDto>> { Success = true };
    public bool IsLoading { get; set; }
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        var response = await _userService.GetUsers();
        if (response.Success)
        {
            Users = response.Data;
            IsLoading = false;
        }
    }

    private void OpenModal(string id)
    {
        Id = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete(bool isConfirmed)
    {
        IsLoading = true;
        if(isConfirmed && Id != null)
        {
            var response = await _userService.Delete(Id);
            if(response.Success)
            {
                await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
                await _jsRuntime.SweetAlertSuccess("Bruker ble slettet.");
                await OnInitializedAsync();
            }
            else
            {
                await _jsRuntime.SweetAlertError("Kan ikke slette.");
            }
        }
        else
        {
            await _jsRuntime.SweetAlertError("Det oppsto en feil.");
        }
        IsLoading = false;      
    }
}
